absl-py==0.12.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
av==8.0.3
awscli==1.19.59
blessings==1.7
botocore==1.20.59
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
colorama==0.4.3
cycler==0.10.0
Cython==0.29.23
decorator==4.4.2
detectron2==0.4+cu110
docutils==0.15.2
ffprobe==0.5
fsspec==2021.4.0
future==0.18.2
fvcore==0.1.3.post20210317
google-auth==1.30.0
google-auth-oauthlib==0.4.4
gpustat==0.6.0
grpcio==1.37.0
h5py==3.4.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
importlib-metadata==4.0.1
iniconfig==1.1.1
iopath==0.1.8
jmespath==0.10.0
joblib==1.0.1
kiwisolver==1.3.1
lmdb==1.2.1
Markdown==3.3.4
matplotlib==3.4.1
mkl-fft==1.3.0
mkl-service==2.3.0
moviepy==1.0.3
multidict==5.1.0
numpy==1.20.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
omegaconf==2.0.6
opencv-python==4.5.1.48
packaging==20.9
pandas==1.2.4
pluggy==0.13.1
portalocker==2.3.0
proglog==0.1.9
protobuf==3.15.8
psutil==5.8.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pydot==1.4.2
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
pytorch-lightning==1.2.10
pytz==2021.1
pyxDamerauLevenshtein==1.7.0
PyYAML==5.3.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.4.2
scikit-learn==0.24.1
scipy==1.6.3
simplejson==3.17.2
sklearn==0.0
submitit==1.3.3
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchmetrics==0.2.0
torchvision==0.8.2
tqdm==4.60.0
urllib3==1.26.4
Werkzeug==1.0.1
yacs==0.1.8
yarl==1.6.3
zipp==3.4.1
